.container {
  border: 10px solid gray;
  border-radius: 3px;
  width: 700px;
  height: 700px;
  display: grid;
  box-shadow: 0px 0px 3px darkblue;
  background-color: white;
}

.hov {
  background-color: red;
}

body {
  margin: 0;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: black;
  flex: 1;
}

input {
  height: 20px;
  width: 50px;
  font-size: 12px;
}

form {
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 0px;
}

button {
  width: 25px;
  height: 25px;
  border: 2px solid white;
  border-radius: 3px;
  box-shadow: 0px 0px 2px black;
  margin: 10px;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

#black {
  background-color: black;
}

#white {
  background-color: white;
}

button:hover {
  transform: scale(1.1);
}

p {
  margin: 0px;
  display: flex;
  align-items: center;
}

form {
  margin: 0px;
  padding: 0px;
}

.selected {
  box-shadow: 0px 0px 5px black;
}
